body{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

nav {
 display: flex;
 flex-direction: row;
 justify-content:space-between;
 border-bottom: 1px solid gray;
 box-shadow: 0 0 4px 0 red
}

.logo-container {
 display: flex;
 align-items: center;
 color: red;
 font-size: large;
 font-weight: bold;

}

.menu-list ul{
 display: flex;
}

.menu-list ul li {
 list-style-type: none;
 margin: 10px 20px;
 font-weight: bold;
 border-right: 1px solid red;
 padding-right: 30px;
}

.menu-list ul:last-child {
 margin-right: 200px;
}

.menu-list ul li:nth-last-of-type(1) {
 border-right: none;
}

.menu-list ul li:hover {
 background-color: red;
 color: white;
 cursor: pointer;
 border-radius: 5px;
}